<h2 class="text-center mb-4">Profile</h2>

<div class="container">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title">User Details</h5>
      <p class="card-text"><strong>Name:</strong> <%= @user.name %></p>
      <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
      <p class="card-text"><strong>Role:</strong> <%= @user.role.capitalize %></p>

      <% if @user.role == 'Recruiter' %>
        <p class="card-text"><strong>Company Name:</strong> <%= @user.company_name if @user.company_name.present? %></p>
      <% end %>

      <div class="d-flex justify-content-end">
        <%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
