<h1>Create a New Job</h1>
<%= form_with model: @job, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :salary %>
    <%= form.number_field :salary %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.submit "Create Job" %>
  </div>
<% end %>
