<h1 class="text-center my-4"><%= @company.name %></h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Address:</h5>
          <p class="card-text"><%= @company.address %></p>
          <h5 class="card-title">Industry Type:</h5>
          <p class="card-text"><%= @company.industry_type %></p>

          <% if current_user.role != 'Candidate' %>
            <!-- Show Edit and Delete buttons only for non-candidates -->
            <div class="d-flex justify-content-between mt-4">
              <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-secondary" %>
              <%= link_to 'Delete', company_path(@company), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
          <% end %>

          <div class="text-center mt-3">
            <%= link_to 'Back to Companies', companies_path, class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
